.icon-med {
  font-size: 24px;
}
.line-height-24px {
  line-height: 24px;
}
.banner-text-ad-container {
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  height: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.ad-container {
  position: relative;
  width: 100%;
  padding-bottom: 90%;
  height: 0;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.absolute {
  position: absolute;
}
.gray {
  color: gray;
}
.bottom-1px {
  bottom: 1px;
}
.right-5px {
  right: 5px;
}
.line-height-15px {
  line-height: 15px;
}
.pointer {
  cursor: pointer;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-top-5px {
  margin-top: 5px;
}
.margin-bottom-5px {
  margin-bottom: 5px;
}
.padding-top-3px {
  padding-top: 3px;
}
.padding-right-5px {
  padding-right: 5px;
}
.padding-left-5px {
  padding-left: 5px;
}
